<% @title='4C Construction %>
<!--start master slider-->
<div class="clearfix"></div>
<section id="home" class="dzsparallaxer auto-init dzsparallaxer---window-height use-loading" style="position: relative; height: 800px;" data-options='{  mode_scroll: "normal", easing: "easeIn"}'>
  <div class="divimage dzsparallaxer--target " data-src="assets/Basement.jpg" style="width: 100%; height: 130%;">
    <div class="hero-parallax">
      <div class="hero-inner">
        <div class="hero-content">
          <div class="container">
            <div class="row">
              <div class="semi-black-overlay"></div>
              <div class="col-sm-8 col-sm-offset-2 text-center">

                <img src="assets/4c-white-w-red.png" alt="" class="img-responsive">

                <div class="space20"></div>
                <h3 style="color:#fff"><i>"Customer, Cost, Communication, Courtesy"</i></h3>
                <div class="buttons scroll-to">
                  <a href="<%= url_for :controller => 'pages', :action => 'contact' %>" class="btn btn-white btn-lg">Contact us</a>
                  <a href="#work" class="btn btn-skin btn-lg">Services</a>
                </div>
              </div>
            </div>
          </div>
          <!--container-->
        </div><!--hero content-->
      </div><!--hero inner-->

    </div><!--parallax hero-->
  </div><!--parallax image div-->
  <div class="mouse-down scroll-to"><a href="#agency"><i class="ion-mouse"></i></a></div>
</section>
<!--intro section end-->
<!--call to action-->
<div class="space20"></div>
<div class="cta">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 wow animated fadeInDown" data-wow-delay="0.2s">
        <h3>Do you need Profressional Contractor work done?</h3>
        <p><i>We offer top quality services for the greater Omaha area</i></p>
      </div>
      <div class="col-sm-4 text-center wow animated fadeInUp" data-wow-delay="0.4s">
        <a href="<%= url_for :controller => 'pages', :action => 'contact' %>" class=" btn btn-skin btn-xl">Contact us <i class="ion-em"></i></a>
      </div>
    </div>
  </div>
</div>
<!--end call to action-->
<div class="space20"></div>
<div class="container">
  <div class="row">
    <div class="col-md-12 wow animated fadeInUp" data-wow-delay="0.3s">
      <div class="dzsparallaxer auto-init simple-parallax use-loading" style="height: 400px;">
        <div class="divimage dzsparallaxer--target " data-src="assets/familyroom1.jpg">
        </div>
        <div class="semi-black-overlay"></div>
        <div class="preloader-semicircles"></div>
        <h1 class="center-it passionate">We are <span class="color_text">PASSIONATE</span> about our work</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 wow animated fadeInUp" data-wow-delay="0.6s">
      <div class="border-width"></div>
      <p>
        We work to provide our customers promptly informed on the progress of their projects from every aspect. From the
        status of their permit application to the final stages and "custom" design extras, we work to insure that our
        customers are completely satisfied every step of the way!
      </p>
      <hr>
      <div class="buttons">
        <a href="#work" class="btn btn-xl btn-skin">Our Services</a>
        <a href="<%= url_for :controller => 'pages', :action => 'contact' %>" class="btn btn-xl btn-dark">Contact Us</a>
      </div>
    </div>
  </div>
  <div class="space80"></div>
  <div class="row">
    <div class="col-sm-4 margin-btm-30 text-center">
      <div class="icon-box clearfix wow animated fadeIn" data-wow-delay="0.3s">
        <i class="flaticon-excavator-machine-arm"></i>
        <div class="content">
          <h4 class="text-uppercase">30+ Years of combined experience</h4>
          <div class="border-width"></div>
          <p>
            We hire only the best of the best with decades of experience.
          </p>
        </div>
      </div>
    </div><!--end col-->
    <div class="col-sm-4 margin-btm-30 text-center">
      <div class="icon-box clearfix wow animated fadeIn" data-wow-delay="0.6s">
        <i class="flaticon-construction-crane-machine-1"></i>
        <div class="content">
          <h4 class="text-uppercase">Professionals</h4>
          <div class="border-width"></div>
          <p>
            Certified, proven and hardworking professionals at your service.
          </p>
        </div>
      </div>
    </div><!--end col-->
    <div class="col-sm-4 margin-btm-30 text-center">
      <div class="icon-box clearfix wow animated fadeIn" data-wow-delay="0.9s">
        <i class="flaticon-construction-excavator"></i>
        <div class="content">
          <h4 class="text-uppercase">Modern Technologies</h4>
          <div class="border-width"></div>
          <p>
            We maintain a high level of quality and modern technologies to get the job done right.
          </p>
        </div>
      </div>
    </div><!--end col-->
  </div>
</div>
<!--end intro section-->
<div class="space50"></div>
<div class="gray-bg">
  <div class="space80"></div>
  <div class="container">
    <div class="center-title margin-btm-50">
      <a name="work"></a>
      <h1>What We offer</h1>
      <div class="border-width center-align"></div>
    </div><!--center title end-->
    <div class="owl-carousel owl-theme service-slider">
      <div class="item">
        <div class="service-box">
          <div class="service-thumb">
            <a href="<%= url_for :controller => 'pages', :action => 'services', :service => 'renovation' %>"><img src="assets/frontside2.jpg" alt="" class="img-responsive"></a>
          </div>
          <div class="service-desc">
            <h4 class="text-uppercase">Home Remodeling</h4>
            <div class="border-width"></div>
            <p>
              From kitchen, to bathroom, to basement, we can remodel all aspects of a home to give it that personal
              touch.
            </p>
          </div>
        </div>
      </div><!--services col end-->
      <div class="item">
        <div class="service-box">
          <div class="service-thumb">
            <a href="<%= url_for :controller => 'pages', :action => 'services', :service => 'carpentry' %>"><img src="assets/5.jpg" alt="" class="img-responsive"></a>
          </div>
          <div class="service-desc">
            <h4 class="text-uppercase">Decks & Carpentry</h4>
            <div class="border-width"></div>
            <p>
              Need extra space for entertainment, or simply want to add an area to grill out in your backyard? We
              replacement, remodel and add decks to homes in any shape and size.
            </p>
          </div>
        </div>
      </div><!--services col end-->
      <div class="item">
        <div class="service-box">
          <div class="service-thumb">
            <a href="<%= url_for :controller => 'pages', :action => 'services', :service => 'masonry' %>"><img src="assets/3.jpg" alt="" class="img-responsive"></a>
          </div>
          <div class="service-desc">
            <h4 class="text-uppercase">Masonry Concrete</h4>
            <div class="border-width"></div>
            <p>
              Driveways, sidewalks, retaining walls, or any phase of block work, we do it.
            </p>
          </div>
        </div>
      </div><!--services col end-->
    </div><!--services row end-->
  </div>
</div>
<!--end gray bg with services-->
<div class="gray-bg">
  <div class="space20"></div>
  <div class="container">
    <div class="row vertical-align-child">
      <div class="col-sm-6 wow animated fadeInUp" data-wow-delay="0.2s">
        <div class="space30"></div>
        <h3 class="left-title">Why Choose us?</h3>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  LICENSED
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                Licensed through the state of Nebraska, we're able to legally able to work on all structures up to and
                including four stories in height.
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  INSURED
                </a>
              </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">
                We are insured, allowing the property owner to maintain peace of mind while our skilled workers are on
                the premises.
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  BONDED
                </a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
              <div class="panel-body">
                As a Bonded Contractor, a certain amount of liability protection is provided for the property owner.
              </div>
            </div>
          </div>
        </div>
        <div class="space30"></div>
      </div>
      <div class="col-sm-6 wow animated fadeIn" data-wow-delay="0.4s">
        <img style="width:250px" src="assets/4c-icon-color.png" class="center-it img-responsive hidden-xs" alt="">
      </div>
    </div>
  </div>
</div>

<div class="testimonials">
  <div class="container">
    <div class="center-title margin-btm-50">
      <h1>What they say</h1>
      <div class="border-width center-align"></div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <div class="testi-slider owl-carousel owl-theme">
          <div class="item">
            <i class="ion-quote"></i>
            <p>
              " We are so happy working with 4C, the guys are very familiar and work with passionate, services are
              absolutely awesome, highly recommended. "
            </p>
            <h5>Elliot M.</h5>
          </div>
          <div class="item">
            <i class="ion-quote"></i>
            <p>
              " 4C made the reno process smooth and easy, little to no hiccups along the way, will definitely call them
              for the next project. "
            </p>
            <h5>Anonymous</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--end testimonials-->
<div class="c_info_bar wow animated fadeIn" data-wow-delay="0.3s">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center margin-btm-30">
        <h4 class="time"><i class="ion-ios-time"></i> Monday - Friday 7AM - 7PM / Saturday 7AM - 5PM / Sunday: Closed
        </h4>
      </div>
    </div>
  </div>
</div>
