<% @title='4C Construction | ' + @service_shape[:title] %>
<!--page title-->
<div class="dzsparallaxer auto-init" data-options='{direction: "reverse"}' style="height: 300px;">
  <div class="semi-black-overlay"></div>
  <div class="divimage dzsparallaxer--target " style="width: 101%; height: 600px; background-image: url(<%= @service_shape[:background_picture] %>)">
  </div>
  <div class="semi-black-overlay"></div>
  <div class=" parallax-text center-it page-title">
    <h2 style="color:#fff"><%= @service_shape[:title] %></h2>
  </div>
</div>
<!--page title-->
<div class="space80"></div>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="sidebar-widget">
        <ul class="list-unstyled side-nav">
          <li class=<%= active_class('custom-home-building') %>>
            <a href=<%= url_for :controller => 'pages', :action => 'services', :service => 'custom-home-building' %>>Custom Home Building</a></li>
          <li class=<%= active_class('house-renovation') %>>
            <a href=<%= url_for :controller => 'pages', :action => 'services', :service => 'house-renovation' %>>House
              Renovation</a></li>
          <li class=<%= active_class('kitchen-remodeling') %>>
            <a href=<%= url_for :controller => 'pages', :action => 'services', :service => 'kitchen-remodeling' %>>Kitchen Remodeling</a></li>
          <li class=<%= active_class('bathroom-remodeling') %>>
            <a href=<%= url_for :controller => 'pages', :action => 'services', :service => 'bathroom-remodeling' %>>Bathroom Remodeling</a></li>
          <li class=<%= active_class('decks-and-carpentry') %>>
            <a href=<%= url_for :controller => 'pages', :action => 'services', :service => 'decks-and-carpentry' %>>Decks &
              Carpentry</a></li>
        </ul>
      </div>
    </div><!--col-->
    <div class="col-md-9">
      <div class="row" style="padding-left: 15px">
        <p>
          <%= @service_shape[:description].html_safe %>
        </p>
      </div>
    </div>

  </div><!--row-->
  <% if @pictures.size >= 0 %>

      <div class="row">

        <div class="col-md-9 col-md-offset-3">
          <h3>Pictures</h3>
          <%= @pictures.size %> <i class="ion-ios-photos-outline"></i>
          <div class="border-width"></div>
        </div>
      </div>
      <div class="row">

        <div class="col-md-9 col-md-offset-3">
          <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-skin prev"><i class="ion-ios-arrow-left"></i> Prev</button>
            <button type="button" class="btn btn-skin next">Next <i class="ion-ios-arrow-right"></i></button>
          </div>
          <div class="space10"></div>
        </div>
      </div>
      <div class="row">

        <div class="col-md-9 col-md-offset-3">
          <div class="swiper-container swiper1">
            <div class="swiper-wrapper">
              <% @pictures.each do |picture| %>
                  <div class="swiper-slide">
                    <img src=<%= "#{picture}" %> class='img-responsive image-slide'>
                  </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
  <% end %>
</div>

<div class="space40"></div>
<script>

    var swiper = new Swiper('.swiper1', {
        mode: 'horizontal',
        loop: true,
        lazyLoading: false,
        preventClicks: true,
        grabCursor: true,
        nextButton: '.next',
        prevButton: '.prev'
    });

</script>
