<!--page title-->
<div class="dzsparallaxer auto-init" data-options='{direction: "reverse"}' style="height: 300px;">
  <div class="semi-black-overlay"></div>
  <div class="divimage dzsparallaxer--target " style="width: 101%; height: 600px; background-image: url(<%= @background_picture %>)">
  </div>
  <div class="semi-black-overlay"></div>
  <div class=" parallax-text center-it page-title">
    <h2 style="color:#fff"><%= @title %></h2>
  </div>
</div>
<!--page title-->
<div class="space80"></div>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="sidebar-widget">
        <ul class="list-unstyled side-nav">
          <li class=<%= @house_reno_active %>>
            <a href=<%= url_for :controller => 'pages', :action => 'services', :service => 'renovation' %>>House
              renovation</a></li>
          <li class=<%= @carpentry_active %>>
            <a href=<%= url_for :controller => 'pages', :action => 'services', :service => 'carpentry' %>>Decks &
              Carpentry</a></li>
          <li class=<%= @masonry_active %>>
            <a href=<%= url_for :controller => 'pages', :action => 'services', :service => 'masonry' %>>Masonry
              Concrete</a></li>
        </ul>
      </div>
    </div><!--col-->
    <div class="col-md-9">
      <div class="row">
        <div class="col-sm-7">
          <h3><%= @subtitle %></h3>
          <div class="border-width"></div>
          <p>
            <%= @description %>
          </p>
        </div>
        <div class="col-sm-5">
          <div class="service-box">
            <div class="service-thumb">
              <img src=<%= @picture1 %> alt="" class="img-responsive">
              <div class="space20"></div>
              <img src=<%= @picture2 %> alt="" class="img-responsive">
              <div class="space20"></div>
              <img src=<%= @picture3 %> alt="" class="img-responsive">
            </div>
          </div>
        </div>
      </div>

      <div class="space20"></div>
    </div>
  </div><!--row-->

</div>
