<% @title='4C Construction | Services' %>
<!--page title-->
<div class="dzsparallaxer auto-init" data-options='{direction: "reverse"}' style="height: 300px;">
  <div class="semi-black-overlay"></div>
  <div class="divimage dzsparallaxer--target " style="width: 101%; height: 600px; background-image: url(<%= @background_picture %>)">
  </div>
  <div class="semi-black-overlay"></div>
  <div class=" parallax-text center-it page-title">
    <h2 style="color:#fff"><%= @service_title %></h2>
  </div>
</div>
<!--page title-->
<div class="space80"></div>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="sidebar-widget">
        <ul class="list-unstyled side-nav">
          <li class=<%= @custom_homes_active %>>
            <a href=<%= url_for :controller => 'pages', :action => 'services', :service => 'homes' %>>Custom Home
              Building</a></li>
          <li class=<%= @house_reno_active %>>
            <a href=<%= url_for :controller => 'pages', :action => 'services', :service => 'renovation' %>>House
              renovation</a></li>
          <li class=<%= @carpentry_active %>>
            <a href=<%= url_for :controller => 'pages', :action => 'services', :service => 'carpentry' %>>Decks &
              Carpentry</a></li>
        </ul>
      </div>
    </div><!--col-->
    <div class="col-md-9">
      <div class="row" style="padding-left: 10px">
        <h3><%= @subtitle %></h3>
        <div class="border-width"></div>
        <p>
          <%= @description %>
        </p>
      </div>

      <div class="space20"></div>
    </div>

  </div><!--row-->
  <% if @pictures.size >= 0 %>
      <% count = 1 %>

      <% @pictures.each do |picture| %>

          <% if count%3==0 %>
              <div class="row">
          <% end %>

          <div class="gallery_product col-md-4">
              <img src=<%= "/assets/#{picture}" %> class='img-responsive gallery'>
          </div>

          <% if count%3==0 %>
              </div>
          <% end %>
          <% count += 1 %>
      <% end %>
  <% end %>

</div>
